<template>
  <form @submit.prevent="sumbitTodo" data-testid="todo-form">
    <label>
      <input
        name="title"
        type="text"
        v-model="todo.title"
        class="border border-cyan-900 rounded"
      />
    </label>
    <label>
      <input name="completed" type="checkbox" v-model="todo.completed" />
    </label>
    <button type="submit">Submit todo</button>
  </form>
</template>

<script setup lang="ts">
import { reactive } from 'vue';
import { Todo } from '~/shared/types/index';

const emit = defineEmits<{
  (e: 'addTodo', todo: Omit<Todo, 'id'>): void;
}>();

const todo = reactive<Omit<Todo, 'id'>>({
  title: '',
  completed: false,
});

const sumbitTodo = () => {
  const newTodo = { ...todo };
  emit('addTodo', newTodo);
  todo.title = '';
  todo.completed = false;
};
</script>
