<template>
  <div data-testid="todo-item" class="container">
    <p
      :class="{ 'line-through text-base': todo.completed }"
      class="text-xs text-slate-700"
    >
      {{ todo.title }}
    </p>
  </div>
</template>

<script setup lang="ts">
import { Todo } from '~/shared/types';

defineProps<{
  todo: Todo;
}>();
</script>
