<template>
  <div
    class="flex justify-start items-start gap-2"
    data-testid="todo-list-container"
  >
    <todo-item v-for="todo in todos" :todo="todo" :key="todo.id"></todo-item>
  </div>
</template>

<script setup lang="ts">
import TodoItem from '~/components/TodoItem.vue';
import { Todo } from '../shared/types';
defineProps<{
  todos: Todo[];
}>();
</script>
