<template>
  <div>
    <h1 class="text-5xl font-semibold">Todo App</h1>
    <div class="flex justify-between items-start">
      <todo-form @addTodo="addTodo" />
      <todo-list :todos="todos" />
    </div>
  </div>
</template>

<script setup lang="ts">
import { reactive } from 'vue';
import TodoList from '~/components/TodoList.vue';
import TodoForm from '~/components/TodoForm.vue';
import { Todo } from './shared/types';

const todos = reactive<Todo[]>([
  {
    id: 1,
    title: 'Todo 1',
    completed: false,
  },
  {
    id: 2,
    title: 'Todo 2',
    completed: true,
  },
  {
    id: 3,
    title: 'Todo 3',
    completed: false,
  },
]);

const addTodo = (todo: Omit<Todo, 'id'>) => {
  todos.push({ ...todo, id: Date.now() });
};
</script>

<style lang="scss" scoped></style>
